Fabric==1.8.1
Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
clize==2.4
ecdsa==0.10
gevent==1.0
gevent-websocket==0.9.1
greenlet==0.4.2
ipdb==0.8
ipython==1.1.0
itsdangerous==0.23
paramiko==1.12.1
path.py==5.0
pycrypto==2.6.1
