<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <style>
    p#log a {
        display: block;
        text-align: center;
        color: white;
        font-weight: bold;
    };
    </style>
</head>

<body>

<h1 style="text-align: center; font-family: 'Press Start 2P';">Build output...</h1>

<pre style="margin:auto; width:80%; color:#FFF; background-color:#333; padding:10px; border-radius:5px; box-shadow:0px 0px 15px #222; overflow:auto;">
    <p id="log"></p>
</pre>

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script>
        $(function(){
            var lineno = 0;
            var hashstring = window.location.hash.substring(1).split(';');
            console.log(hashstring);
            var build_pid = hashstring[0],
                job_label = hashstring[1],
                build_label = hashstring[2];
            var ws = new WebSocket("ws://" + document.domain + ":8010/websocket");
            window.ws = ws; // debugging purpose
            var logspace = document.querySelector('#log');

            ws.onopen = function() {
                ws.send(JSON.stringify({'subscribe': build_pid}));
            };

            ws.onmessage = function (msg) {
                var msg = JSON.parse(msg.data);
                if (msg.type === 'line') {
                    // it's a line of the output
                    lineno++;
                    var num = lineno.toString();
                    var numl = num.length;
                    for (var i=0 ; i<6-numl; i++)
                        num = ' ' + num;
                    var newtext = document.createTextNode('[' + num + ']  ' + msg.line);
                    logspace.appendChild(newtext);
                    window.scrollTo(0, document.body.scrollHeight); // scroll down
                } else if (msg.type === '<FABKINS_END>') {
                    var end_link = document.createElement('a');
                    end_link.href = '/api/job/' + job_label + '/build/';
                    end_link.innerText = 'Build finished ! Go back to the job';
                    logspace.appendChild(end_link);
                } else if (msg.type === 'NO_PROCESS') {
                    // oops, this build doesn't exist (any more)
                    logspace.innerHTML = '<a href="/api/job/' + job_label + '/build/">Build finished ! More infos on this job</a>';
                }
            };

            window.onbeforeunload = function() {
                ws.onclose = function () {}; // disable onclose handler first
                ws.close()
            };
        });
    </script>
</body>
</html>
