<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<h1 style="font-family:arial;">Websockets with Flask & Gevent</h1>
<pre><p id="log"></p></pre>
<button id="send" type="button">Send!</button>
<body>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script>
        $(document).ready(function(){
            if ("WebSocket" in window) {
                ws = new WebSocket("ws://" + document.domain + ":8010/websocket");
                var logspace = document.querySelector('#log');
                ws.onmessage = function (msg) {
                    var message = JSON.parse(msg.data);
                    var newtext = document.createTextNode(message.output);
                    logspace.appendChild(newtext);
                    window.scrollTo(0, document.body.scrollHeight); // scroll down
                };  
            };

            // Bind send button to websocket
            $("button#send").live("click", function() {
                ws.send(JSON.stringify({'subscribe': 'some_build_id'}));
            });

            // Cleanly close websocket when unload window
            window.onbeforeunload = function() {
                ws.onclose = function () {}; // disable onclose handler first
                ws.close()
            };
        });
    </script>
</body>
</html>
