<!-- Header and Nav -->
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <a href="{{ url_for('index') }}">Fabkins</a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><a href="{{ url_for('index') }}">Jobs</a></li>
      <li class="divider"></li>
      <li><a href="{{ url_for('view_history') }}">History</a></li>
      <li class="divider"></li>
      <li><a href="{# url_for('status') #}">Status</a></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="has-dropdown">
        <a href="{# url_for('administration') #}">Admin</a>
        <ul class="dropdown">
          <li><label>Section Name</label></li>
          <li><a href="#">Dropdown Option</a></li>
          <li><a href="#">Dropdown Option</a></li>
          <li class="divider"></li>
          <li><label>Section Name</label></li>
          <li><a href="#">Dropdown Option</a></li>
          <li><a href="#">Dropdown Option</a></li>
          <li><a href="#">Dropdown Option</a></li>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
