{% extends "base.html" %}

{% block main %}
{% include "navbar.html" %}

<div class="row">

{% include "flashed.html" %}

<ul class="breadcrumbs">
  <li><a href="{{ url_for('index') }}">JOBS</a></li>
  <li><a href="{{ url_for('view_job', job_label=job.label) }}">{{ job.label }}</a></li>
  <li class="current"><a href="#">LAUNCH</a></li>
</ul>

<h1>{{ job.title }}</h1>
<h5 class="subheader">{{ job.description }}</h5>

<h6>Usage <a href="">(<i class="icon-question-sign"></i>)</a></h6>
<pre id="log">{{ fab_l }}</pre>
<br>

<form action="" method="post">
  <div class="row collapse monospace">
    <div class="small-3 large-2 columns">
      <span class="prefix">$ fab</span>
    </div>
    <div class="small-9 large-10 columns">
      <input type="text" name="args" placeholder="command line arguments...">
    </div>
  </div>

  <div class="row">
    <div class="small-4 small-centered columns">
      <div class="small switch">
        <input id="parallelize-off" name="parallelize" value="off" type="radio" checked>
        <label for="parallelize-off" onclick="">Parallelize : Off</i></label>

        <input id="parallelize-on" name="parallelize" value="on" type="radio">
        <label for="parallelize-on" onclick="">
          <i class="icon-exclamation-sign"></i> Parallelize : On
        </label>

        <span></span>
      </div>
      <input type="submit" class="small button expand" value="> Launch !">
    </div>
  </div>

</form>

</div>
{% endblock %}
