{% extends "base.html" %}


{% block main %}
{% include "navbar.html" %}

<div class="row">
{% include "flashed.html" %}

<ul class="breadcrumbs">
  <li><a href="{{ url_for('index') }}">JOBS</a></li>
  <li><a href="{{ url_for('view_job', job_label=job.label) }}">{{ job.label }}</a></li>
  <li><a href="{{ url_for('view_build', job_label=job.label, build_label=build.label) }}">
  {{ build.label }}</a></li>
  <li class="current"><a href="#">watch</a></li>
</ul>

    <h2>Build processing...</h2>
    <h5 class="subheader">Started at {{ build.start | strftime("%d %b %Y, %H:%M:%S") }} ({{ (gettime() - build.start) | duration }} ago)</h5>
    <br>
    <h6>Command used</h6>
    <pre class="code">{{ build.cmd }}</pre>

<h6>Output</h6>
<pre id="log"></pre>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(function(){
        var lineno = 0;
	var build_pid = '{{ pid }}',
            job_label = '{{ job.label }}',
	    build_label = '{{ build.label }}';
        var ws = new WebSocket("ws://" + document.domain + ":8010/websocket");
        window.ws = ws; // debugging purpose
        var logspace = document.querySelector('#log');

        ws.onopen = function() {
            ws.send(JSON.stringify({'subscribe': build_pid}));
        };

        ws.onmessage = function (msg) {
            var msg = JSON.parse(msg.data);
            if (msg.type === 'line') {
                // it's a line of the output
                lineno++;
                var num = lineno.toString();
                var numl = num.length;
                for (var i=0 ; i<6-numl; i++)
                    num = ' ' + num;
                var newtext = document.createTextNode('[' + num + ']  ' + msg.line);
                logspace.appendChild(newtext);
                window.scrollTo(0, document.body.scrollHeight); // scroll down
            } else if (msg.type === '<FABKINS_END>') {
                var end_link = document.createElement('a');
		end_link.href = '{{ url_for('view_build', job_label=job.label, build_label=build.label) }}';
                end_link.innerText = 'Build finished ! Go to the result';
                logspace.appendChild(end_link);
            } else if (msg.type === 'NO_PROCESS') {
                // oops, this build doesn't exist (any more)
		logspace.innerHTML = '<a href="{{ url_for('view_build', job_label=job.label, build_label=build.label) }}"><i class="icon-info-sign"></i> Woops, build already finished ! Go to the result</a>';
            }
        };

        window.onbeforeunload = function() {
            ws.onclose = function () {}; // disable onclose handler first
            ws.close()
        };
    });
</script>
{% endblock %}
